@use "/src/assets/style/helper/mixins" as *;

.menu-main {
  display: flex;

  .icon {
    height: 24px;
    width: 24px;
  }

  @media (hover: hover) and (pointer: fine) { /* stylelint-disable-line */
    & a:hover {
      background: rgb(29 165 122 / 0.3);
      color: var(--color-white);

      & > .icon {
        fill: var(--color-white);
      }
    }
  }

  & > a {
    align-items: center;
    color: var(--color-white-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 70px;
    padding: 5px;
    transition: background-color 0.3s;

    & > .icon {
      fill: var(--color-white-light);
    }

    &.active {
      color: var(--color-active-green);

      & > .icon {
        fill: var(--color-active-green);
      }
    }
  }
}

.bottom-menu {
  background: var(--color-black);
  display: none;
  padding: 5px 10px;

  @include media-max-md {
    display: block;
  }

  .menu-main {
    > a {
      flex-grow: 1;
    }

    a {
      @include media-max-md {
        flex: 1;
        min-width: 0 !important; /* stylelint-disable-line */
      }
    }
  }

  .brand-menu {
    flex: 1;
    max-width: 329px;
  }
}
