@use "@/assets/style/helper/mixins" as *;

.banner-info-with-map {
  column-gap: 40px;
  display: flex;
  flex: 0 1 100%;
  flex-direction: row;
  min-height: 1px;

  .banner-info {
    height: 100%;
    max-width: 50vw;
    min-height: 320px;
    min-width: 370px;
    overflow: hidden auto;
    scrollbar-width: thin;
  }

  .banner-info-additional {
    display: flex;
    flex-direction: column;
    height: 100%;
    row-gap: 30px;
    width: 100%;
  }

  .leaflet-container {
    height: 100%;
    min-height: 500px;
    width: 100%;
  }
}

.banner-info-with-map-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;

  @include media-max-md {
    display: flex;
    flex-direction: column;
    height: inherit;
    padding: 0;
  }

  .banner-info-with-map {
    @include media-max-md {
      height: 100%;
      justify-content: center;
      margin: 0;
      overflow-y: auto;
      padding: 0;
    }

    .banner-info {
      @include media-max-md {
        height: auto;
        max-width: 864px;
        min-height: 0;
        min-width: 320px;
        overflow-y: unset;
        padding: 0.6em;
        width: 100%;
      }
    }

    .banner-info-left-pane-missions {
      .banner-card {
        @include media-max-md {
          display: none;
        }
      }
    }

    .mission-card {
      @include media-max-md {
        max-width: none;
      }
    }

    .leaflet-container {
      @include media-max-md {
        height: 100%;
        min-height: 0;
        width: 100%;
      }
    }
  }

  .banner-info-card {
    @include media-max-md {
      margin-top: 0;
    }
  }

  .ant-tabs-nav {
    @include media-max-md {
      display: none !important; /* stylelint-disable-line */
      margin: 0 !important; /* stylelint-disable-line */
    }
  }

  .ant-tabs-tabpane {
    @include media-max-md {
      margin-top: 0;
    }
  }
}

.banner-info-with-map-goback {
  align-items: center;
  column-gap: 20px;
  display: flex;
  flex: 0 0 content;
  flex-direction: row;
  padding-bottom: 20px;
  padding-top: 20px;

  .back-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2em;
    height: 100%;
    line-height: 2em;
    margin-bottom: -6px;
    width: 30px;
  }

  h1 {
    flex: 1;
    line-height: 2em;
    margin: auto 0;
    vertical-align: middle;
  }

  .banner-info-with-map-submit {
    width: calc(100% - 370px - 40px);
  }
}
