@import "src/assets/style/helper/mixins";

.banner-info-with-map-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-right: 40px;

  @include media-max-md {
    display: flex !important;
    flex-direction: column !important;
    height: inherit !important;
    padding: 0 !important;
  }

  .banner-info-with-map {
    @include media-max-md {
      margin: 0 !important;
      padding: 0 !important;
      justify-content: center !important;
      height: 100% !important;
      overflow-y: auto !important;
    }

    .banner-info {
      @include media-max-md {
        min-height: 0 !important;
        padding: 0.6em !important;
        width: 100% !important;
        max-width: 864px !important;
        min-width: 320px !important;
        height: auto !important;
        overflow-y: unset !important;
      }
    }

    .banner-info-left-pane-missions {
      .banner-card {
        @include media-max-md {
          display: none !important;
        }
      }
    }

    .mission-card {
      @include media-max-md {
        max-width: none !important;
      }
    }

    .banner-info-additional {
      @include media-max-md {
        height: 100% !important;
      }
    }

    .leaflet-container {
      @include media-max-md {
        height: 100% !important;
        width: 100% !important;
        min-height: 0 !important;
      }
    }
  }

  .banner-info-card {
    @include media-max-md {
      margin-top: 0 !important;
    }
  }

  .ant-tabs-nav {
    @include media-max-md {
      display: none !important;
      margin: none !important;
    }
  }

  .ant-tabs-tabpane {
    @include media-max-md {
      margin-top: 0;
    }
  }
}

.banner-info-with-map-goback {
  display: flex;
  flex-direction: row;
  flex: 0 0 content;
  column-gap: 20px;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

  .back-button {
    width: 30px;
    height: 100%;
    background: none;
    border: none;
    font-size: 2em;
    line-height: 2em;
    cursor: pointer;
    margin-bottom: -6px;
  }

  h1 {
    vertical-align: middle;
    line-height: 2em;
    margin: auto 0;
    flex: 1;
  }

  .banner-info-with-map-submit {
    width: calc(100% - 370px - 40px);
  }
}

.banner-info-with-map {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 100%;
  flex-direction: row;
  column-gap: 40px;
  min-height: 1px;

  .banner-info {
    height: 100%;
    min-height: 320px;
    overflow-y: auto;
    min-width: 370px;
    max-width: 50vw;
    overflow-x: hidden;
    scrollbar-width: thin;
  }

  .banner-info-additional {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  .leaflet-container {
    width: 100%;
    height: 100%;
    min-height: 500px;
  }
}
