.issues-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.issue-card {
  background: rgba(var(--color-dark-gray), 0.9);
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 2.5;

  &.issue-error {
    color: var(--color-error);
  }

  &.issue-warning {
    color: var(--color-warning);
  }

  button {
    float: right;
    border: none;
    padding: 10px 0;

    path {
      fill: var(--color-light-gray);
    }
  }
}
