@use "/src/assets/style/helper/mixins";

.banner-list {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  place-content: flex-start center;

  .banner-list-entry {
    max-width: 90vw;

    @include media-max-md {
      width: 360px;
    }
  }

  .banner-card-link {
    background: none;
    border: none;
    font-size: initial;
    height: 100%;
    text-align: initial;
    width: 100%;
  }
}
