@use '@fontsource/roboto/400.css' as *;
@use '@fontsource/roboto/400-italic.css' as *;
@use '@fontsource/roboto/700.css' as *;

h1 {
  font-size: 36px;
  margin: 0.5em 0 0.3em;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 1em 0 0.05em;
}
