@use "helper/mixins" as *;

.hide-on-mobile {
  @include media-max-md {
    display: none !important;
  }
}

.banner-count-place {
  @include media-max-md {
    display: none;
  }
}

.hide-on-desktop {
  @include media-min-md {
    display: none !important;
  }
}
