:root {
  --color-white: #fff;
  --color-black: #000;
  --color-light-black: #1b1b1b;
  --color-gray: #888888;

  --color-todo: #ffe381;
  --color-done: #70c03f;
  --color-blacklist: #ef5555;
  --color-pin: #6832da;
  --color-warning: #ffb21d;
  --color-error: #ef5555;

  --primary-color: #1da57a;
  --link-color: #1da57a;

  --body-background: #0b0c0d;
  --card-head-padding: 0.6rem;
  --card-padding-base: 0.6rem;
  --border-color-base: #004f4a;
  --scrollbar-color: #969696;
}
