.places-list-item {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.places-list {
    padding-top: 5em;
    padding-left: 2em;
    padding-right: 1em;
}

.places-list-child {
    margin-left: 1em;
}
