.place-flag {
    font-family: 'NotoColorEmoji';
}

@font-face {
    font-family: 'NotoColorEmoji';
    src: local('NotoColorEmoji'), url(./../../fonts/NotoColorEmoji.ttf) format('truetype');
}
