.banner-advanced-options {

  h4 {
    display: flex;
    column-gap: 5px;

    svg {
      align-self: flex-start;

      path {
        fill: white;
      }
    }
  }

  .ant-col {
    align-self: center;
  }

  label {
    width: 100%;
  }

  .date-picker-hidden {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
    right: 0;
    top: 0;
  }

  .date-picker-visible {
    width: 100%;
    margin-bottom: 5px;
  }
}