.help-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 15px;

  h1 {
    max-width: 1200px;
    width: 100%;
  }

  .help-page-content {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    row-gap: 15px;
    width: 100%;
  }

  .faq-question-link {
    align-items: center;
    column-gap: 15px;
    display: flex;
  }
}
