.banner-info {
  display: flex;
  margin: 40px;
  column-gap: 50px;

  .banner-info-overview {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 40%;
    max-width: 400px;
    row-gap: 30px;
  }

  .leaflet-container {
    width: 100%;
    height: 70vh;
  }
}
