.faq-question {
  background-color: var(--color-dark-gray);
  border-radius: 5px;

  .faq-question-title {
    background: none;
    border: none;
    padding: 15px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    display: block;
    color: white;
  }

  .faq-question-answer {
    padding: 15px;

    a {
      color: var(--link-color);
    }
  }
}
