@mixin search-input-button-highlighted {
  background: var(--color-positive-green);
  fill: white;
}


.search-input-form {
  display: flex;
  flex-direction: row;
  width: 100%;

  .search-input {
    padding: 5px;
    padding-left: 10px;
    background: var(--color-panel-bg);
    border-radius: 4px 0px 0px 4px;
    border: none;
    width: 100%;

    &:focus {
      background: var(--color-gray);
      outline: none;
      color: var(--color-white);
    }

    &:focus + .search-input-button {
      @include search-input-button-highlighted;
    }

    &::placeholder {
      color: var(--color-light-gray);
      font-size: 12px;
    }
  }

  .search-input-button {
    display: flex;
    flex-direction: column;
    background: var(--color-gray);
    border-radius: 0px 4px 4px 0px;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    fill: var(--color-light-black);

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        @include search-input-button-highlighted;
      }
    }

    &:focus {
      @include search-input-button-highlighted;
    }
  }

  .search-input-icon {
    fill: inherit;
    width: 17.49px;
    height: 17.49px;
  }
}
