.place-accordion-page {
  display: flex;
  flex-direction: column;

  .place-accordion-title {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    text-align: left;

    div {
      flex: 1;
    }

    svg {
      margin-bottom: auto;
      margin-right: 10px;
      margin-top: auto;
    }
  }

  .place-accordion-entries {
    display: flex;
    flex-direction: column;
  }
}
