.place-accordion-entry {
  border: none;
  background: none;
  text-align: left;
  padding: 5px 25px;
  cursor: pointer;
  display: flex;
  column-gap: 0.3em;

  &.place-accordion-entry-selected {
    color: rgb(21, 212, 178);
  }

  &.place-accordion-entry-all {
    font-style: italic;
  }
}
