.top-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  > div {
    display: flex;
    align-items: center;

    .search-bar {
      margin-right: 45px;
      width: 250px;
    }
  }
}

.brand-logo {
  display: flex;
  height: 57px;
  width: 165px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.mobile-search-bar {
  display: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
}

.mobile-search-button-container{
  min-width: 70px;
  display: flex;
  margin-right: 20px;
  height: 60px;
  transition: background-color .3s;

  .mobile-search-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 100%;
    width: 100%;
    
    .search-button-icon
    {
      width: 24px;
      height: 24px;
      fill: #eaeaea;
    } 
 } 
}

.mobile-search-button-container.active {
   .search-button-icon{
    fill: #0ca589;
  }
}

.mobile-search-button-container:hover {
  background: rgba(29,165,122,.3);
  .search-button-icon{
  fill: white;
  }
}
