.mission-image {
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 50%;
  border: 2px solid var(--color-warning);
  font-size: 26px;
  font-weight: 700;
  height: 50px;
  padding: 2px 17px;
  width: 50px;
}
