.banner-pic {
  max-height: 204px;
  align-content: flex-start;
  img {
    width: 100%;
  }
}
.banner-list {
  & > .banner-card {
    margin-top: 1rem;
    margin-right: 1rem;
  }
}
.banner-info {
  & .banner-card {
    padding: 1rem;
  }
}

.banner-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: grey;
  margin-right: 8px;
  margin-top: 8px;
}

.icon {
  width: 0.9rem;
  height: 0.9rem;
}

.banner-card {
  .ant-card-head-title {
    font-size: 20px;
  }
}

@keyframes banner-animation {
  0% { background-position-y: 0%; }
  5% { background-position-y: 0%; }
  90% { background-position-y: 100%; }
  95% { background-position-y: 100%; }
  100% { background-position-y: 0%; }
}

.banner-image-frame {
  height: 285px;
}

.banner-image-animation {
  animation-name: banner-animation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-repeat: no-repeat;
  max-height: 100%;
  background-size: 100% auto;
  img {
    visibility: hidden;
    width: 100%;
  }
}
