.banner-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: grey;
  margin-right: 8px;
  margin-top: 8px;
}

.icon {
  width: 0.9rem;
  height: 0.9rem;
}

.banner-card {
  background: #2e2e2e;
  border-radius: 5px;
  border: #2e2e2e 2px solid;
  max-width: 400px;
  padding: 15px;
  color: white;

  &.selected {
    border-color: #16d4b2;
  }

}

.banner-card-modal {
  .ant-modal-content {
    background: none !important;
    box-shadow: none !important;
    height: 0 !important;
    width: 0 !important;

    .ant-modal-close {
      display: none;
    }

    button {
      cursor: default;
      background: none !important;
      border: none;
    }

    img {
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      max-height: 100%;
    }
  }
}

.banner-card-title {
  font-weight: bold;
}

.banner-info-item {
  font-size: 14px;
}

.banner-card-picture {
  margin: 10px 0;
  display: flex;
  max-width: 100%;
  align-items: center;
  overflow: hidden;
}

.banner-card-picture-inner {
  max-height: 100%;
  max-width: 100%;

  & > img {
    max-height: 100%;
    max-width: 100%;  
  }
}


// Support for browsers that don't support aspect-ratio yet. 
// Can be removed once this feature is implemented in all major browsers

@supports (aspect-ratio: 1/1) {
  .banner-card-picture {
      aspect-ratio: 2 / 1;
  }
}

@supports not (aspect-ratio: 1/1) {
  .banner-card-picture {
      height: 200px; // 200 Pixel is half of 400px max-width of .banner-card
  }
}

.banner-card-title, .banner-info-item {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}
