@import "src/assets/style/helper/mixins";

/*Start Temporary styles for list types. Not final yet.*/
@mixin list-style-background {
  content: ' ';
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  border-radius: 5px;
}

/*End temporary Styles*/
.banner-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--color-gray);
  margin-right: 8px;
  margin-top: 8px;
}

.banner-card {
  background: var(--color-dark-gray);
  border-radius: 5px;
  border: var(--color-dark-gray) 2px solid;
  padding: 18px;
  color: var(--color-white);
  position: relative;

  &.selected {
    border-color: var(--color-positive-green-light);
  }

  &.list-style {
    &-todo {
      &:after {
        @include list-style-background;
        background: rgba(var(--color-todo), 0.05);
        border: 1px solid var(--color-todo);
      }
    }

    &-done {
      &:after {
        @include list-style-background;
        background: rgba(var(--color-done), 0.05);
        border: 1px solid var(--color-done);
      }
    }

    &-blacklist {
      &:after {
        @include list-style-background;
        background: rgba(var(--color-blacklist), 0.05);
        border: 1px solid var(--color-blacklist);
      }
    }
  }

  .icon {
    width: 0.9rem;
    height: 0.9rem;
  }
}

.banner-card-modal {
  height: 95%;

  .ant-modal-content {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: var(--color-dark-gray);

    .ant-modal-body {
      width: 100%;
    }

    .ant-modal-close {
      display: none;
    }

    .modal-image {
      height: 100%;
      width: 100%;
      cursor: default;
      background: none !important;
      border: none;
      margin: 0 !important;
      padding: 0 !important;

      div {
        margin: 0 !important;
        display: flex;
      }

      img {
        max-height: 100%;
        max-width: 100%;
        margin: auto;
      }

      &.full-size {
        img {
          max-height: initial;
        }
      }
    }

    .close-button {
      position: absolute;
      bottom: 15px;
      background-color: var(--color-dark-gray);
      right: 15px;
      border: none;
      line-height: 1em;
      color: var(--color-white) !important;

      svg,
      span {
        vertical-align: middle;
        display: inline-block;
      }

      svg {
        margin-right: 10px;
      }
    }
  }
}

.banner-card-picture-container {
  position: relative;
  display: flex;
  justify-content: center;

  @include media-min-xs {
    height: 200px;
  }

  .offline-overlay {
    font-size: 24px;
    line-height: 18px;
    color: var(--color-light-gray);

    position: absolute;
    left: -20px;
    top: 0;
    width: calc(100% + 2 * 20px);
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    pointer-events: none;

    .offline-overlay-line {
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 3.5em;
      display: flex;
      flex-direction: row;
      background-color: rgba(0, 0, 0, 0.7);

      svg {
        height: 1em;
        width: 1em;
        fill: currentColor;
        margin-right: 0.5em;
      }
    }
  }
}

.banner-card-title {
  font-size: 20px;
  line-height: 21px;
}

.banner-info-item {
  font-size: 14px;
  line-height: 18px;
  color: var(--color-light-gray);
  margin-top: 4px;
  display: flex;

  .banner-info-item-icon {
    width: 20px;

    .icon {
      fill: currentColor;
    }
  }

  &.warning {
    color: var(--color-blacklist);
  }
}

.banner-card-picture {
  margin: 20px 0;
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;

  @supports (aspect-ratio: 1/1) {
    aspect-ratio: 2 / 1;
  }

  @supports not (aspect-ratio: 1/1) {
    /*160 Pixel is half of width of .banner-card minus padding*/
    height: 160px;
  }

  @include media-max-md {
    height: auto;
    aspect-ratio: 2;
  }
  &.banner-lines-1 {
    @include media-max-md {
      aspect-ratio: 6;
    }
  }

  &.banner-lines-2 {
    @include media-max-md {
      aspect-ratio: 3;
    }
  }
}

.banner-card-picture-inner {
  max-height: 100%;
  max-width: 100%;

  & > img {
    max-width: 100%;
  }

  &.picture-size-1 {
    max-width: 17%;
  }

  &.picture-size-2 {
    max-width: 33%;
  }

  &.picture-size-3 {
    max-width: 50%;
  }

  &.picture-size-4 {
    max-width: 67%;
  }

  &.picture-size-5 {
    max-width: 85%;
  }
}

.banner-info-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0;
  margin-top: 10px;

  a {
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 14px;
    color: white;
  }
}

.banner-card-title,
.banner-info-item {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
