.algo-detection-chooser {
  width: 100%;

  .ant-radio-group {
    width: 100%;
    color: white;
    display: flex;

    label {
      background-color: transparent;
      color: white;
      width: 100%;
      text-align: center;

      &.ant-radio-button-wrapper-checked {
        color: #15D4B2;
      }
    }
  }
}