.algo-detection-chooser {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;

  h3 {
    display: flex;
    column-gap: 5px;

    svg {
      align-self: flex-start;

      path {
        fill: var(--color-white);
      }
    }
  }

  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 20px;

    &.display-false {
      display: none;
    }

    div {
      position: absolute;
      top: 0;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: var(--color-white);
      animation-timing-function: cubic-bezier(0, 1, 1, 0);

      &:nth-child(1) {
        left: 0;
        animation: lds-ellipsis1 0.6s infinite;
      }

      &:nth-child(2) {
        left: 0;
        animation: lds-ellipsis2 0.6s infinite;
      }

      &:nth-child(3) {
        left: 16px;
        animation: lds-ellipsis2 0.6s infinite;
      }

      &:nth-child(4) {
        left: 32px;
        animation: lds-ellipsis3 0.6s infinite;
      }
    }
  }

  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(0);
    }
  }

  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }

    100% {
      transform: translate(16px, 0);
    }
  }
}
