.place-card {
  background: #2e2e2e;
  border-radius: 5px;
  border: #2e2e2e 2px solid;
  padding: 15px;
  color: white;
  max-width: 400px;
}

.place-card-title {
  display: flex;
  white-space: nowrap;
  column-gap: 0.3em;
  font-weight: bold;

  .place-name {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.place-card-type {
  font-size: 13px;
  
  // Use this to make the card grow until it its a limit
  // Width is then actually limited by max-width in place-card (Width a card should have as long as there is enough space )
  // and by max-width in list that includes the card (e.g. limit by available viewport)
  min-width: 80vw;
}




.place-card-name {
  white-space: nowrap; 
  text-overflow: ellipsis;
  font-weight: 700;
  overflow-x: hidden;
}


.place-card-link[href]
{
  color: white;
}

.place-card-number-of-banners {
  white-space: nowrap; 
}

.place-card-formatted-address {
  line-height: 1.5em;
  height: 3em;
  margin-bottom: 0.5em;
}

.place-card-icon-row
{
  display: flex;
  flex-direction: row;
}

.place-card-icon-container {
  margin-top: auto;
  vertical-align: bottom;
}

.place-card-icon {
  color: #EAEAEA;
  fill: #EAEAEA;
  margin-right: 1em;
  height: 1.5em;
}

.place-card-symbol {
  margin-left: auto;
  vertical-align: middle;
  font-size: 2em;
}
