@import "../../index";

.search-mission-card {
  margin-top: 1rem;
  background-color: @color-panel-bg;
  margin-top: 1rem;
  background-color: #404040;
  border-radius: 5px;
  display: flex;
  column-gap: 10px;
  justify-content: space-between;
  padding: 10px;
  align-items: center;

  .mission-content {
    max-height: 70px;
    align-content: flex-start;
    cursor: pointer;
  }


  .mission-title {
    font-size: 18px;
    padding-left: 1rem;
    flex: 1;
  }
  .mission-title:first-letter {
    text-transform: uppercase;
  }

  .icon {
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    transition: transform ease 0.3s;
    &.open {
      transform:rotate(180deg);
    }
  }

  .ant-card-body {
    padding: 1rem;
    transition: height ease 0.3s;
  }

  .mission-button {
    height: 50px;
    width: 50px;
    background: none;
    border: none;
    fill: white;
    cursor: pointer;
  }
}