body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.px1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.p-1 {
  padding: 1rem;
}

.group {
  display: flex;
  justify-content: space-between;
}

@color-panel-bg: #404040;

.bg-button {
  box-shadow: 0 0 2px 0 rgba(157, 96, 212, 0.5) !important;
  border: solid 2px transparent !important;
  background-origin: border-box !important;
  background-clip: content-box, border-box !important;
  box-shadow: 2px 1000px 1px #000 inset !important;
  transition: linear-gradient ease 0.6s;

  &.bg-button-default {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(180deg, #109393, #15D4B2) !important;

    &:hover {
      background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(0deg, #109393, #15D4B2) !important;
    }
  }
}

.page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}