.bottom-menu {
  display: none;
}

@mobile-detection: ~" screen and (max-width: 880px) ";

@media only @mobile-detection {
  .hide-on-mobile {
    display: none !important;
  }

  .banner-info-container {
    display: flex !important;
    flex-direction: column !important;
    height: inherit !important;

    .banner-info {
      margin: 0 !important;
      justify-content: center !important;
      height: 100% !important;
      overflow-y: auto !important;

      .banner-info-left-pane {
        min-height: 0 !important;
        margin: 1em !important;
        width: 100% !important;
        max-width: 600px !important;
        height: auto !important;
        overflow-y: unset !important;
      }

      .banner-info-left-pane-missions {
        .banner-card {
          display: none !important;
        }
      }

      .mission-card {
        max-width: none !important;
      }

      .banner-info-additional {
        height: 100% !important;
      }

      .leaflet-container {
        height: 100% !important;
        width: 100% !important;
        min-height: 0 !important;
      }
    }

    .banner-info-card {
      margin-top: 0 !important;
    }

    .banner-card-title {
      display: none !important;
    }

    .ant-tabs-nav {
      display: none !important;
      margin: none !important;
    }

    .ant-tabs-tabpane {
      margin-top: 0;
    }
  }

  .banner-count-place {
    display: none;
  }

  .browser {
    .place-accordion {
      display: block;
    }

    .places-list {
      display: none;
    }
  }

  .bottom-menu {
    display: block;
  }

  .top-menu .menu-main {
    display: none;
  }

  .map-explorer {
    width: 100% !important;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

@media not @mobile-detection {
  .hide-on-desktop {
    display: none !important;
  }
}