.bottom-menu {
  display: none
}
  
@media only screen and (orientation: portrait) {
  .bottom-menu {
    display: block;
  }
  .top-menu .menu-main {
    display: none;
  }
  .search-bar {
    display: none !important;
  }
}
