@import '../../App.scss';

.banner-list-type-navigation {
  margin-bottom: 20px;

  button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }

  a:any-link {
    color: inherit;
  }

  .banner-list-type {
    line-height: 40px;
    margin-right: 21px;
  }

  .active {
    font-size: 36px;
    color: var(--color-white);
  }

  .inactive {
    font-size: 28px;
    color: var(--color-light-gray);
  }
}
