.footer-main {
  text-align: center;
  background-color: var(--color-black);
  padding: 1.5rem 0;
  width: 100%;

  .footer-links {
    padding-bottom: 1em;
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    width: 100%;
    justify-content: center;

    svg {
      width: 20px;
      height: 20px;
      path {
        fill: var(--color-white);
        fill-opacity: 1 !important;
      }
    }
  }

  .footer-disclaimers {
    font-size: 12px;
  }
}
