.leaflet-container {
  width: 100%;
  height: 80vh;
  margin: 2%;
}

.custom-div-icon-true {
  z-index: 2000 !important;
}

@mixin marker-pin {
  flex-direction: column;
  min-width: 26px;
  min-height: 26px;
  text-align: center;
  margin-left: -13px;
  margin-top: -13px;
  border-radius: 80px;
  border: 2px solid rgba(var(--color-black), 0.4);
  background-clip: padding-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  text-shadow: -1px 0 var(--color-black),0 1px var(--color-black), 1px 0 var(--color-black), 0 -1px var(--color-black);
  background-color: var(--color-pin);
  font-size: 12px;
  font-weight: bold;
}

.marker-pin-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

@mixin marker-pin-medium {
 @include marker-pin;
  width: 26px !important;
  height: 26px !important;
  min-height: initial;
  min-width: initial;
  border-width: 2px;
  margin-left: -13px;
  margin-top: -13px;
}

.marker-pin-medium-false {
  @include marker-pin-medium;
}

.marker-pin-medium-true {
  @include marker-pin-medium;
  background-color: var(--color-positive-green-light);
}

.marker-pin-false {
  @include marker-pin;
}

.marker-pin-true {
  @include marker-pin;
  background-color: var(--color-positive-green-light);
}

.marker-pin-medium-false.marker-pin-todo {
  background-color: var(--color-todo);
}

.marker-pin-medium-false.marker-pin-done {
  background-color: var(--color-done);
}

.marker-pin-medium-false.marker-pin-done-todo {
  background-image: linear-gradient(
    -45deg,
    var(--color-done) 50%,
    var(--color-todo) 50%
  );
}

.marker-pin-medium-false.marker-pin-normal-todo {
  background-image: linear-gradient(
    -45deg,
    var(--color-pin) 50%,
    var(--color-todo) 50%
  );
}

.marker-pin-medium-false.marker-pin-normal-done {
  background-image: linear-gradient(
    -45deg,
    var(--color-pin) 50%,
    var(--color-done) 50%
  );
}
.marker-pin-medium-false.marker-pin-all {
  background-image: conic-gradient(
    var(--color-pin) 0 33%,
    var(--color-done) 0 66%,
    var(--color-todo) 0
  );
}

.square-marker-pin {
  align-items: center;
  background-clip: padding-box;
  background-color: var(--color-positive-green-light);
  border: 2px solid rgba(var(--color-black), 0.4);
  display: flex;
  font-size: 12px;
  font-weight: bold;
  height: 20px !important;
  justify-content: center;
  margin-left: -6px;
  margin-top: -6px;
  width: 20px !important;
}

.color-green {
  background-color: var(--color-positive-green-light);
}

.color-blue {
  background-color: var(--color-pin);
}

.marker-poi-pin {
  @include marker-pin;
  width: 14px !important;
  height: 14px !important;
  min-height: initial;
  min-width: initial;
  border-width: 2px;
  margin-left: -7px;
  margin-top: -7px;
}
