.error-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 15px;

  &__title {
    text-align: center;
  }

  &__content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
    width: min(100%, 1200px);

    .recent-banners-title {
      h1 {
        text-align: center;
      }
    }
  }
}
